.image {
    position: relative;
    display: inline-block;
    margin: 25px;
}

.text-block {
    position: absolute;
    top: 240px;
    left: 0px;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 15px;
    background: #4aaaa5;
    color: white;
}

h1 {
    font-size: 28pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    background: #4aaaa5;
    text-align: center;
    padding: 15px;
    width: 340px;
    float: left;
    height: 71px;
}

h2 {
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #4aaaa5;
    padding-left: 25px;
    padding-top: 25px;
}

li {
    float: right;
    padding: 20px;
}

.content {
    width: 960px;
    background: #ffffff;
    margin-left: 300px;
    margin-top: 25px;
}

body {
    background-image: url(../images/background.png);
    padding-bottom: 76px;
    padding-top: 76px;
    margin: 0px;
    height: 100%;
}

.header {
    width: 100%; 
    background-color: #ffffff;
    border-bottom: 5px solid #777777;
    height: 76px;
    padding-left: 300px;
    top: 0px;
    position: absolute;
}

.footer {
    width: 100%; 
    background-color: #666666;
    border-top: 6px solid #4aaaa5;
    height: 76px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    overflow: auto;
}

a {
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

hr {
    border-style: inset;
    border-width: 2px;
    width: 900px;
}

#copyright {
    position: absolute;
    bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #777777;
    line-height: 1.6;
}

input {
    width: 80%;
    margin: 8px;
    box-sizing: border-box;
}